<footer class="footer">
    <div class="footer">
        <div class="container">
            <p>&copy; 2020<a href="/index.html" rel="nofollow" th:text="${serverName}">${serverName}</a> &nbsp;

                <th:block th:utext="${ICP}">
                    ${ICP}
                </th:block>

            </p>

        </div>

        <div id="gotop"><a class="gotop"></a></div>
        <div>
            友情链接：<a href="http://hairong.tomweb.xyz" target="view_window">海容资讯</a>
        </div>
    </div>
</footer>
