<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="header-topbar hidden-xs link-border">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <div class="logo hvr-bounce-in"><a href="/index.html"   rel="nofollow" ><img style="height: 50px;width: 50px;border-radius:50px" src="/images/logo.png" alt="爱旅游爱工作LOGO"></a></div>
                </div>
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden-index active"><a data-cont="爱旅游爱生活首页" href="/index.html"  rel="nofollow">爱旅游爱生活首页</a></li>
                        <li class="hidden-index active"><a data-cont="百家号@爱旅游爱生活"  href="https://baijiahao.baidu.com/u?app_id=1663934735086891&fr=bjharticle"  rel="nofollow" >百家号@爱旅游爱生活</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>