<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <th:block th:utext="${scripty}">
        ${scripty}
    </th:block>
    <th:block th:utext="${meta}">
        ${meta}
    </th:block>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>百家号@爱旅游爱工作||广西旅游||南宁旅游||网红打卡||景点||个人分享</title>
    <meta name="KeyWords" content="南宁旅游信息，广西旅游，有网红旅游，网红地点">
    <meta name='description' content='旅游,工作,生活,有南宁旅游的信息,有广西的旅游信息,有网红的旅游信息,还有南宁网红地点信息'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
    <link rel="shortcut icon" href="images/icon/favicon.ico">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/nprogress.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!--[if gte IE 9]>
    <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/html5shiv.min.js" type="text/javascript"></script>
    <script src="js/respond.min.js" type="text/javascript"></script>
    <script src="js/selectivizr-min.js" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script>window.location.href = 'upgrade-browser.html';</script>
    <![endif]-->
</head>
<body class="user-select">
<div>
    <th th:include="header::header"></th>
</div>
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div class="jumbotron">
                <h1>欢迎访问百家号@爱旅游爱工作</h1>
                <p>和我一起发现身边的风景，看风景品人生，关注我一起看世界</p>
            </div>
            <div id="focusslide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                    <li data-target="#focusslide" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active"><span href="/index.html" target="_blank"><img
                            src="images/banner/banner_01.jpg" alt="爱旅游爱工作" class="img-responsive"></span>
                    </div>
                    <div class="item"><span href="/index.html" target="_blank"><img src="images/banner/banner_02.jpg"
                                                                                   alt="tomweb.xyz" class="img-responsive"></span>
                    </div>
                </div>
                <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                        class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide"
                                                           role="button" data-slide="next" rel="nofollow"> <span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
                    class="sr-only">下一个</span> </a></div>
            <div class="title">
                <h3>最新发布</h3>
            </div>
            <tr th:each="article,articleStart : ${bjArticles}">

                <article class="excerpt excerpt-1">
                    <a class="focus" th:href="@{'/a/'+${article.id}}" title="">
                        <th th:if="${article.coverPhotos ne null }">
                            <img class="thumb" th:data-original="${article.coverPhotos[0].photoUrl}"
                                 th:src="${article.coverPhotos[0].photoUrl}" th:alt="${article.title}">
                    </a>
                    </th>


                    <header><span class="cat" th:text="#{article.typeTag}">#{article.typeTag}<i></i></span>
                        <a th:href="@{'/a/'+${article.id}}" th:title="${article.title}"
                           th:text="${article.title}"></a></h2>
                    </header>
                    <p class="meta">
                        <time class="time">
                            <i class="glyphicon glyphicon-time"></i><span
                                th:text="${article.getBjUpdateAtStr()}"></span>
                        </time>
                        <a th:if=" ${article.getArticleUrl()} ne null" class="comment"
                           th:href="@{${article.getArticleUrl()}}" rel="nofollow" th:text="${article.getCategoryName()}"><i class="glyphicon glyphicon-comment"></i> ${article.getCategoryName()}</a>
                    </p>
                    <p class="note"
                       style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:4;"
                       th:text="${article.getArticleBody()}"></p>
                </article>

            </tr>


        </div>
    </div>
</section>


<div th:include="footer :: footer"></div>

<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.ias.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>